In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express  as px

!pip install pyECLAT -q
from pyECLAT import ECLAT

import time

In [13]:
df = pd.read_csv("Bakery.csv")
df.head()

   TransactionNo          Items          DateTime  Daypart  DayType
0              1          Bread  30-10-2016 09:58  Morning  Weekend
1              2   Scandinavian  30-10-2016 10:05  Morning  Weekend
2              2   Scandinavian  30-10-2016 10:05  Morning  Weekend
3              3  Hot chocolate  30-10-2016 10:07  Morning  Weekend
4              3            Jam  30-10-2016 10:07  Morning  Weekend

In [14]:
df_eclat = df[['TransactionNo', 'Items']]

# Group by 'TransactionNo' and aggregate items into a list of tuples
result = df_eclat.groupby('TransactionNo')['Items'].apply(lambda x: tuple(x)).to_dict()

# Convert the dictionary to a DataFrame
df_ec = pd.DataFrame(list(result.items()), columns=['TransactionNo', 'Items'])
df_ec.head()

   TransactionNo                          Items
0              1                       (Bread,)
1              2   (Scandinavian, Scandinavian)
2              3  (Hot chocolate, Jam, Cookies)
3              4                      (Muffin,)
4              5        (Coffee, Pastry, Bread)

In [15]:
df_item = df_eclat.groupby(by='Items')['TransactionNo'].apply(lambda x:', '.join(map(str, x))).reset_index()
df_item.head()

                      Items                                      TransactionNo
0                Adjustment                                                938
1  Afternoon with the baker  4263, 4322, 4405, 4534, 4541, 4723, 4724, 4725...
2                 Alfajores  223, 230, 242, 247, 267, 286, 288, 300, 330, 3...
3           Argentina Night           7981, 8639, 9265, 9555, 9556, 9578, 9579
4                  Art Tray  850, 853, 966, 1004, 1072, 1248, 1273, 1337, 1...

In [16]:
lista = df_ec['Items'].tolist()
lista[:5]

[('Bread',),
 ('Scandinavian', 'Scandinavian'),
 ('Hot chocolate', 'Jam', 'Cookies'),
 ('Muffin',),
 ('Coffee', 'Pastry', 'Bread')]

In [17]:
data = pd.DataFrame(lista)
data.head()

,0,1,2,3,4,5,6,7,8,9,10
0,Bread,None,None,None,None,None,None,None,None,None,None
1,Scandinavian,Scandinavian,None,None,None,None,None,None,None,None,None
2,Hot chocolate,Jam,Cookies,None,None,None,None,None,None,None,None
3,Muffin,None,None,None,None,None,None,None,None,None,None
4,Coffee,Pastry,Bread,None,None,None,None,None,None,None,None

In [18]:

start_time = time.time()

my_eclat = ECLAT(data=data, verbose=True)

100%|██████████| 95/95 [00:00<00:00, 153.14it/s]
100%|██████████| 95/95 [00:00<00:00, 2179.03it/s]
100%|██████████| 95/95 [00:00<00:00, 2313.84it/s]

In [19]:
indices, support = my_eclat.fit(min_support= 0.03, min_combination= 2, max_combination= 3)

# Calculate elapsed time
elapsed_time = time.time() - start_time

# Print the elapsed time
print("Elapsed time:", elapsed_time, "seconds")

12it [00:00, 111.98it/s]

Combination 2 by 2

136it [00:01, 99.43it/s]
11it [00:00, 109.58it/s]

Combination 3 by 3

680it [00:06, 102.65it/s]

Elapsed time: 9.106217861175537 seconds

In [20]:
support

{'Tea & Coffee': 0.049867934495509775,
 'Sandwich & Coffee': 0.038246170100369785,
 'Medialuna & Coffee': 0.03518225039619651,
 'Coffee & Cake': 0.054727945060750134,
 'Coffee & Bread': 0.09001584786053883,
 'Coffee & Pastry': 0.04754358161648178}